@import "tailwindcss";

@theme {
    --color-primary: #f4c025;
    --color-background-light: #f8f8f5;
    --color-background-dark: #2a2417;
    --color-surface-dark: #221e10;
    --color-on-surface-dark: #f5f5dc;
    --color-on-surface-dark-secondary: #c6a66c;
    --color-primary-dark: #4a2c2a;
    /* bg-[#3b3225] */

    --font-display: "Manrope", sans-serif;

    --radius: 0.25rem;
    --radius-lg: 0.5rem;
    --radius-xl: 0.75rem;
    --radius-full: 9999px;
}

@keyframes shimmer {
  100% {
    transform: translateX(100%);
  }
}

.animate-shimmer {
  animation: shimmer 1.4s infinite;
}


.hide-scrollbar::-webkit-scrollbar {
    display: none;
}

.hide-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

#overlay {
    mask-image: radial-gradient(circle 120px at 50% 50%, transparent 0%, black 150px);
    -webkit-mask-image: radial-gradient(circle 120px at 50% 50%, transparent 0%, black 150px);
}
